body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  
/* Navbar.css */
.logo-image {
  width: 50px; /* Ajusta el ancho del logo */
  height: 50px; /* Ajusta la altura del logo */
}


/* Navbar.css */
.navbar-links {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.nav-link {
  color: #faf3f3; /* Color del texto de los enlaces */
}

.navbar{
  background-color:#F5EFE0;
}



body {
  margin: 0;
  padding: 0;
  background-image: url('../public/fondococina.jpg'); /* Cambia la ruta a tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza */
  font-family: Arial, sans-serif;
}


/* Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#F5EFE0;
  padding: 10px;
  color: #333333;
  font-size: 1rem;

  ;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link,
.footer-links a {
  color: #333333;
  margin-right: 15px;
}


.footer-links a:hover {
  color: #e5e9ee; /* Cambia el color al pasar el cursor sobre el enlace */
}


.main-content {
  flex: 1;
}





.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  min-height: 100vh;
  overflow: auto;
}

/* ... otros estilos ... */

.recipe-card {
  background-color:#F5EFE0  ;
  margin-top: 30px ; /* Agrega margen superior e inferior */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  width: 700px;
  height: 130px;
  align-items: flex-start;
}


.card-img img {
  width: 150px; /* Ancho de la imagen */
  height: 150px; /* Altura de la imagen */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
  display: block; /* Asegura que la imagen sea un elemento en línea */
  border-radius: 8px 0 0 8px; /* Agrega bordes redondeados si lo deseas */
  margin-right: 100px; /* Margen derecho para separar la imagen del texto */
  flex: 0 0 auto;
}

/* ... otros estilos ... */



.card-body {
  overflow: hidden;
  margin-top: 15px;
  margin-left: -540px; /* Ajusta este valor para mover el texto más a la izquierda */
}

.card-title {
  font-size: 1.45rem;
  margin-top: 10px;
}

.card-text {
  margin-top: 10px;
}
/* Estilos para la tarjeta */



svg {
  width: 20px;
  height: 20px;
  fill: #333; /* Color de los íconos */
  margin-left: 10px; /* Espacio entre los íconos y el contenido */
}

/* Agrega estilos adicionales según sea necesario */


.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  margin-top: 70px; 

}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  margin-top: 60px;
}







.card-text {
  margin-bottom: 0;
}

.vegetable-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Cambiado de "flex-end" a "flex-start" */
  margin-bottom: 10px; /* Espacio entre los iconos y el título/descripción */
}
svg {
  width: 35px;
  height: 30px;
  fill: #333; /* Color de los íconos */
  margin-right: 10px; /* Espacio entre los íconos */
}
.more-info-icon {
  display: flex;
  align-items: center; /* Centra verticalmente el ícono */
}





